.delayed-class {
  color: white;
  background-color: red;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.completed-class {
  color: white;
  background-color: green;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pending-class {
  color: black;
  background-color: yellow;
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.status-class {
  background-color: gray;
}

.selectColor {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (min-width: 300px) {
  #header-section {
    width: 100%;
  }
}

@media (min-width: 300px) {
  #body-section {
    margin: 0px;
    margin-top: 50px;
    width: 100%;
  }
}

@media (min-width: 300px) {
  #footer-section {
    margin-top: 50px;
    width: 100%;
  }
}

@media (min-width: 576px) {
  #header-section {
    width: 100%;
  }
}

@media (min-width: 576px) {
  #body-section {
    width: 100%;
  }
}

@media (min-width: 576px) {
  #footer-section {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #footer-section {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #body-section {
    width: 100%;
  }
}

@media (min-width: 768px) {
  #header-section {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #header-section {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #body-section {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #footer-section {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #header-section {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #body-section {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #footer-section {
    width: 100%;
  }
}

