@media (min-width: 1200px) {
  html {
  }
}

::placeholder {
  color: black;
  opacity: 1;
}

.activityButton {
  margin: 1.5px;
}

.activityButton.focus, .activityButton:focus {
  color: #fff;
  background-color: orange;
  border-color: orange;
  box-shadow: 0 0 0 .2rem rgba(247,140,16,0.5);
}

.sec {
  background-color: #343a40 !important;
}

.center {
  padding-left: 85px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  -webkit-text-stroke: 0.2px;
  -webkit-text-stroke-color: darkslategray;
}

.lefttext {
  text-align: left;
  font-size: 18px;
}