@media (min-width: 1200px) {
  html {
  }
}

::placeholder {
  color: black;
  opacity: 1;
}

.activityButton {
  margin: 1.5px;
}

.activityButton.focus, .activityButton:focus {
  color: #fff;
  background-color: orange;
  border-color: orange;
  box-shadow: 0 0 0 .2rem rgba(247,140,16,0.5);
}

.sec {
  background-color: #343a40 !important;
}

.CP {
  text-transform: uppercase;
  font-weight: bold;
}

.center {
  padding-left: 85px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  -webkit-text-stroke: 0.2px;
  -webkit-text-stroke-color: darkslategray;
}

.lefttext {
  text-align: left;
  font-size: 18px;
}

/* Border */

#box {
  display: flex;
  color: white;
}
.gradient-border {
  --borderWidth: 5px;
  background: whitesmoke;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: 5px;
  padding-right: 20px;
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* End of Border */